{% extends 'base.html' %} 
{% load static  %}
{% block title %}Sign up 
{% endblock %} 
{% block content %}
<h1 style="
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin-left: 400px;" class="text-xl">Sign up</h1>


<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 500px;" class="register">

    <form method="POST" action="{% url 'accounts:register'  %}">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button style="color: black; height: 50px; width: 70px; border-radius: 20%; background-color: aqua;">submit</button>
    </form>


</div>

{% endblock %}
